{
  "bracketSpacing": true,
  "endOfLine": "auto",
  "printWidth": 120,
  "proseWrap": "preserve",
  "requireConfig": false,
  "semi": true,
  "singleQuote": true,
  "stylelintIntegration": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "tslintIntegration": true
}
