.grid-container {
  margin: 20px;
}

.dashboard-card {

}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

table {
  width: 100%;
}

.btn-add-container {
  margin: 1rem;
}

.mat-column-update {
  width: 30px;
}

.mat-column-devices {
  width: 80px;
}
