<div class="btn-add-container">
  <button mat-mini-fab color="accent" aria-label="Add gateway" (click)="openDialog(null)">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="cards">
  <mat-card *ngFor="let device of devices" class="card">
    <mat-card-header> </mat-card-header>
    <mat-card-content>
      <div class="uid-row">
        <p class="uid">UID: {{ device.uid }}</p>
        <div class="status" [ngClass]="device.status === 'online' ? 'green' : 'red'"></div>
      </div>

      <div class="vend-row">
        <p>Vendor: {{ device.vendor }}</p>
        <p class="date">{{ device.createdDate | date: 'dd/MM/yyyy' }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent" (click)="openDialog(device)">Edit</button>
      <button mat-stroked-button color="warn" (click)="openDialogRemove(device)">Remove</button>
    </mat-card-actions>
  </mat-card>
</div>
